/* Styles for the Cart page */
body {
    font-family: 'Lora', serif;
    background-color: #f7f1e3;
    color: #4a4a4a;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #b33030;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 1px;
}

#cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#cart-items-list {
    list-style-type: none;
    padding: 0;
}

#cart-items-list li {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

#cart-items-list li:last-child {
    border-bottom: none;
}

.cart-item-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.cart-item-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.cart-item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cart-item-actions input[type="number"] {
    width: 60px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    transition: border-color 0.3s ease;
}

.cart-item-actions button {
    background-color: #b33030;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item-actions button:hover {
    background-color: #9b2929;
}

.cart-item-total {
    font-weight: bold;
    color: #b33030;
    font-size: 1.2em;
    text-align: right;
}

#cart-total-amount {
    text-align: right;
    font-weight: bold;
    color: #b33030;
    font-size: 1.5em;
    margin-top: 20px;
}

button {
    background-color: #b33030;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #9b2929;
}

@media (max-width: 600px) {
    #cart-container {
        width: 100%;
        padding: 15px;
    }

    #cart-items-list li {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .cart-item-details, .cart-item-actions, .cart-item-total {
        text-align: center;
    }

    .cart-item-actions {
        flex-direction: row;
        justify-content: center;
    }

    .cart-item-actions input[type="number"] {
        width: 50px;
    }

    #cart-total-amount, button {
        text-align: center;
        width: 100%;
    }
}
